.titulo {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

mat-header-cell {
  color: #ff4081;
  width: auto;
  font-size: small;
}

mat-cell,
mat-header-cell,
mat-footer-cell {
  flex: 1;
  display: inline-block;
  align-items: center;
  overflow: hidden;
  min-height: initial;
  height: auto;
  width: auto;
  padding: 10px 0 10px 0;
}

mat-header-cell {
  color: rebeccapurple;
}

mat-form-field {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

a {
  margin-top: 0.8rem;
}

h3 {
  margin-top: 2rem;
}

.list {
  margin-top: 1rem;
}

button {
  margin: 1rem;
}

ng-container {
  padding: 2rem;
}

.makeItMiddle {
  transform: translate(-50%, -50%);
}

mat-header-cell,
mat-cell {
  justify-content: center;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}
